@model IEnumerable<StageBear.Models.Category>

@{
    ViewData["Title"] = "Manage Categories";
}

<h1>Manage Categories</h1>

<p>
    <a asp-action="Create" class="btn">Add New Category</a>
</p>

<form>
    <div class="row g-2 align-items-center">
        <div class="col-auto m-2">
            <label for="searchBox" class="col-form-label">Search Category by Name: </label>
        </div>
        <div class="col-auto m-2">
            <input type="text" id="searchbox" name="searchString" class="form-control" value="@(ViewData["CurrentFilter"] as string)" />
        </div>
        <div class="col-auto m-2">
            <input type="submit" value="Search" class="btn" />
        </div>
        <div class="col-auto m-2">
            <a asp-action="Index">Back to Full List</a>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
