@model StageBear.Models.Show

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>

<div>
    <hr />
    <div class="w-100">
        @if (!String.IsNullOrEmpty(Model.Image))
        {
            <img src="/assets/@Model.Image" class="img-fluid w-50" style="padding-bottom:10px" />
        }
    </div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scheduled)
        </dt>
        <dd class = "col-sm-10">
            @Model.Scheduled.ToString("dd MMM, yyyy : hh:mm tt")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller ="Venues" asp-action="Details" asp-route-id="@Model?.VenueID">@Html.DisplayFor(model => model.Venue.VenueName)</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.FullName)
        </dd>
    </dl>
</div>

<div>
    <br/>
    <p class="dateRecorded"><span style="font-weight:bold">Show Recorded:</span> @Model.DateRecorded.ToString("dd MMM, yyyy : hh:mm tt")</p>
</div>

<div style="padding-bottom:10px">
    <a asp-controller="Shows" asp-action="Edit" asp-route-id="@Model?.ShowID" class="btn">Edit Show</a>
</div>
<div>
    <a asp-action="Index">Back to Shows List</a>
</div>
