@model List<StageBear.Models.Show>

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to StageBear</h1>
    <p>For all your event planning needs.</p>
</div>



<h1>What's on stage!</h1>
<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>Thumbnail</th>
            <th>ID</th>
            <th>Title</th>
            <th>Scheduled</th>
        </tr>
        @foreach (var show in Model)
        {
            <tr>
                <td>
                    <img src="/assets/@show.Image" alt="@show.Title" />
                </td>
                <td>@show.ShowID</td>
                <td>@show.Title</td>
                <td>@show.Scheduled.ToString("dd MMM, yyyy: HH:mm")</td>
                <td><a asp-controller="Home" asp-action="Details" asp-route-id="@show.ShowID">Find out more!</a></td>
            </tr>
        }
    </table>
</div>

