@model IEnumerable<StageBear.Models.Show>

@{
    ViewData["Title"] = "Index";
}
<h1>Stage Bear</h1>
<h2>Here to help you manage your events.</h2>



<h3>What's on stage!</h3>
<p>
    <a asp-controller="Shows" asp-action="Create">Add New Show</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Search Shows by Name: <input type="text" name="searchString" value="@(ViewData["CurrentFilter"] as string)" /> </label>
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                Thumbnail
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scheduled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="/assets/@item.Image" class="w-25 img-fluid" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @item.Scheduled.ToString("dd MMM, yyyy : hh:mm tt")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue.VenueName)
            </td>
            <td>
                <a asp-controller="Shows" asp-action="Edit" asp-route-id="@item.ShowID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShowID">Details</a> |
                <a asp-controller="Shows" asp-action="Delete" asp-route-id="@item.ShowID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
