@model IEnumerable<StageBear.Models.Show>

@{
    ViewData["Title"] = "Home";
}
<h1>Stage Bear</h1>

<h3>What's on stage!</h3>


<p>
    <a asp-controller="Shows" asp-action="Create" class="btn">Add New Show</a>
</p>

<form>
    <div class="row g-2 align-items-center">
        <div class="col-auto m-2">
            <label for="searchBox" class="col-form-label">Search Shows by Name: </label>
        </div>
        <div class="col-auto m-2">
            <input type="text" id="searchbox" name="searchString" class="form-control" value="@(ViewData["CurrentFilter"] as string)" />
        </div>
        <div class="col-auto m-2">
            <input type="submit" value="Search" class="btn " />
        </div>
        <div class="col-auto m-2">
            <a asp-action="Index">Back to Full List</a>
        </div>
    </div>
</form>

<table class="table" >
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scheduled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                @if (!String.IsNullOrEmpty(item.Image))
                {
                    <img src="@item.Image" class="thumbnail" alt="@item.Title" />
                }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @item.Scheduled.ToString("dd MMM, yyyy : hh:mm tt")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue.VenueName)
            </td>
            <td>
                <a asp-controller="Shows" asp-action="Edit" asp-route-id="@item.ShowID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShowID">Details</a> |
                <a asp-controller="Shows" asp-action="Delete" asp-route-id="@item.ShowID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
