@model IEnumerable<StageBear.Models.Owner>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Owners</h1>

<p>
    <a asp-action="Create">Add New Owner</a>
</p>

<form>
    <div class="row g-2 align-items-center">
        <div class="col-auto m-2">
            <label for="searchBox" class="col-form-label">Search Owner by Name: </label>
        </div>
        <div class="col-auto m-2">
            <input type="text" id="searchbox" name="searchString" class="form-control" value="@(ViewData["CurrentFilter"] as string)" />
        </div>
        <div class="col-auto m-2">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
        <div class="col-auto m-2">
            <a asp-action="Index">Back to Full List</a>
        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pronouns)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pronouns)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OwnerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OwnerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OwnerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
